body{
  background-color:lightblue;
}
h1{
  color: black;
  text-decoration: underline;
  text-align: center;
}
input[type=text],textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  input[type=tel]{
    width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
  }
  input[type=password]{
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
  }
  label{
      padding: 3px 3px 3px 0;
      display: inline-block;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
  }
  .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
  }
  .col-25 {
      float: left;
      width: 13%;
      margin-top: 6px;
  }
  .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
  }
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
  #btnSubmit{
    background-color:rgb(4, 4, 252); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    }
    .heads{
      border: dotted;
    }
  .formerror{
      color: red;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  table{
    width: 1000px;
    border-collapse: collapse;
    margin: 50px auto;
  }
  tr:nth-of-type(odd) { 
      background: #eee; 
  }
  th { 
      background: blue; 
      color: white; 
      font-weight: bold; 
  }
  td, th { 
      padding: 10px; 
      border: 1px solid #ccc; 
      text-align: left; 
      font-size: 18px;
  }
  #btnEdit{
    background-color: rgb(4, 4, 252); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }
  #btnDelete{
    background-color: rgb(4, 4, 252); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  
      table { 
            width: 100%; 
      }
  
      /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr { 
          display: block; 
      }
      
      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      
      tr { border: 1px solid #ccc; }
      
      td { 
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee; 
          position: relative;
          padding-left: 50%; 
      }
  
      td:before { 
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          width: 45%; 
          padding-right: 10px; 
          white-space: nowrap;
          /* Label the data */
          content: attr(data-column);
  
          color: #000;
          font-weight: bold;
      }
  
  }
